<h1>About Hugh Jackman</h1>
<ul>
  <li>Born: 12 October 1968, Sydney, New South Wales, Australia</li>
  <li>Citizenship: Australia, UK</li>
  <li>Alma mate: University of Technology Sydney Edith Cowan University</li>
  <li>Occupation: actor, singer, producer</li>
  <li>Years active: 1994 - present</li>
  <li>Spouse: Deborra-Lee Furness</li>
  <li>Children: 2</li>
</ul>