<h1>Welcome to the official Hugh Jackman fan club!</h1>
<img src='/images/worverine2.jpeg' />
<p>Hugh Michael Jackman AC (born 12 October 1968) is an Australian actor,
  singer, and producer. He is best known for playing Wolverine/Logan in the
  X-Men film series (2000–2017), a role for which he holds the Guinness World
  Record for "longest career as a live-action Marvel superhero".</p>