<div>
  <img src='/images/hugh1.jpeg' />
  <img src='/images/hugh2.jpeg' />
  <img src='/images/hugh3.jpeg' />
  <img src='/images/hugh4.jpeg' />
  <img src='/images/hugh5.jpeg' />
  <img src='/images/hugh6.jpeg' />
</div>