<h1>Hugh Jackman's Masterpieces</h1>
<ul>
  <li>1999: Erskineville Kings, nominated Best Leading Actor in the AACTA Awards</li>
  <li>2002: Kate & Leopold, nominated Best Actor in the Golden Globe Awards
  </li>
  <li>2004: The Boy from Oz, won Best Leading Actor in a Musical in the Golden
    Globe Awards</li>
  <li>2007: The Prestige, nominated Best Leading Actor in the AACTA Awards</li>
  <li>2013: Les Misérables, nominated Best Actor in the Academy Awards</li>
  <li>2019: The Greatest Showman, nominated Best Actor in a Motion Picture –
    Musical or Comedy in the Golden Globe Awards and Grammy Awards</li>
  <li>2001-2017: X-Men, Logan, Wolverine</li>
</ul>