* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  height: 2.5em;
}

nav > a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

nav > a:hover {
  color: red;
}

h1 {
  text-align: center;
  padding: 1.5em;
}

img {
  width: 30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: block;
  padding: 4em;
}

footer {
  text-align: center;
  font-size: 13px;
}
